/* css styles */

/* Adjust header color */
.navbar {
  background-color: #3E5A7C !important; 
}

/* Adjust text color within the header */
.navbar a, .navbar .navbar-brand {
  color: white !important; 
}

/* Adjust the color of the active link */
a {
  color: #54B98F; 
  text-decoration: none; /* remove underline */
}

/* Underline links on hover */
a:hover {
  text-decoration: underline; 
}


/* Change the color of visited links */
a:visited {
  color: #8c7cb7; 
}
